.background--preset1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -10;

    background-color: #000000;
}

.canvas {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 0;
}

.canvas::-webkit-scrollbar {
    display: none;
}

.aurora-base {
    position: absolute;
    filter: blur(92px);
    opacity: 1;
    overflow: hidden;
}

.aurora-left-bottom {
    overflow: hidden;
    border-radius: 90%;
    width: 100vw;
    height: 100vw;
    background-color: #a020f083;
    left: -20%;
    top: 15%;
    z-index: -1;
    /* 첫 번째 그라데이션이 맨 앞으로 오도록 조정 */

    animation: rotateUpDown 5s linear infinite;
    /* 키프레임 애니메이션 적용 */
    transform: rotate(0) translate(80px) rotate(0);
}

.aurora-right-bottom {
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    background-color: #9417e2;
    left: 30%;
    top: 40%;
    border-radius: 20%;
    animation: rotateUpDown 6s ease-in-out infinite reverse;
    /* 키프레임 애니메이션 적용 */
    transform: rotate(0) translate(100px) rotate(0);
}

.aurora-right-top {
    overflow: hidden;
    z-index: 100;
    border-radius: 70%;
    /* 그라데이션이 부드럽게 겹치도록 영역을 좀더 둥글게 */
    width: 150vw;
    height: 100vw;
    left: 10%;
    bottom: 40%;
    background-color: #b34bf369;

    animation: rotateUpDown 5s ease-in-out infinite reverse;
    /* 키프레임 애니메이션 적용 */
    transform: rotate(0) translate(100px) rotate(0);
}

.aurora-left-top {
    overflow: hidden;
    border-radius: 70%;
    /* 그라데이션이 부드럽게 겹치도록 영역을 좀더 둥글게 */
    width: 150vw;
    height: 100vw;
    left: -80%;
    bottom: 60%;
    background-color: #bc61f5b9;

    animation: rotateUpDown 6s ease-out infinite;
    /* 키프레임 애니메이션 적용 */
    transform: rotate(0) translate(120px) rotate(0);
}

.aurora-center {
    overflow: hidden;
    border-radius: 30%;
    /* 그라데이션이 부드럽게 겹치도록 영역을 좀더 둥글게 */
    width: 120vw;
    height: 20vw;
    left: 0%;
    bottom: 40%;
    background-color: #ffffff82;
    /* animation: rotate 6s ease-in-out infinite; */
}

@keyframes rotateUpDown {
    100% {
        transform: rotate(1turn) translate(100px) rotate(-1turn);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }

}




.wave-base {
    filter: blur(80px);
}

.wave1-top {
    z-index: 100;
    position: absolute;

    top: 20%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -196vw;
    border-radius: 40%;
    /* animation: waveAnimation 40s infinite linear; */
    opacity: 0.9;
    background: #000000;
}

.wave2-top {

    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -196vw;
    border-radius: 47%;
    animation: waveAnimation 43s infinite linear;
    opacity: 0.9;

    background-image:
        radial-gradient(at top left, #54dd5f53, transparent),
        radial-gradient(at top right, #813cc553, transparent),
        radial-gradient(at bottom left, #0a4c7b53, transparent);
}

.wave1-bottom {
    z-index: 100;

    position: absolute;
    bottom: 34%;
    left: 54%;
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-bottom: -196vw;
    border-radius: 40%;
    /* animation: waveAnimation 30s infinite linear; */
    opacity: 0.9;
    background: #000000;
}

.wave3-bottom {
    z-index: 3;
    position: absolute;
    bottom: 20%;
    left: 70%;
    width: 200vw;
    height: 200vw;
    margin-left: -99vw;
    margin-bottom: -193vw;
    border-radius: 42%;
    animation: waveAnimation 24s linear infinite;
    opacity: 0.9;

    background-color: #1457122c;
    /* background-image: 
        radial-gradient(at top left, #a2f865, transparent),
        radial-gradient(at top right, #bfdf5d, transparent),
        radial-gradient(at bottom left, #825417, transparent); */
}

.wave4-bottom {
    z-index: 4;
    position: absolute;
    bottom: 2%;
    left: 70%;
    width: 200vw;
    height: 200vw;
    margin-left: -99vw;
    margin-bottom: -193vw;
    border-radius: 50%;
    animation: waveAnimation 24s infinite linear;
    opacity: 0.9;

    background-color: #3f93af20;
    /* background-image: 
        radial-gradient(at top left, #a2f865, transparent),
        radial-gradient(at top right, #bfdf5d, transparent),
        radial-gradient(at bottom left, #825417, transparent); */
}


.wave2-bottom {
    z-index: 2;
    position: absolute;
    bottom: 40%;
    left: 17%;
    width: 180vw;
    height: 180vw;
    margin-left: -90vw;
    margin-bottom: -193vw;
    border-radius: 40%;
    animation: waveAnimation 26s infinite linear;
    opacity: 0.9;

    background-color: #c6c6c653;
}


@keyframes waveAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}