/* css/loginForm.module.css */

.loginFormContainer {
  /* background-color: #111111; */
  padding: 40px;
  /* border-radius: 12px; */
  max-width: 410px;
  margin: 84 auto auto auto;
  text-align: center;
  color: #ffffff;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logoImage {
  width: 111px;
  height: 31;
  margin-bottom: 16px;
}

.title {
    position: relative;
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: 600;
    font-family: Pretendard;
    color: #e4e5e7;
    text-align: center;
}

.inputLabel {
    margin: 0 8px 0 8px;
  /* margin-bottom: 8px; */
  text-align: left;
  font-size: 14px;
  color: #9ea3b2;
}

.findPasswordContainer {
  display: flex;
  justify-content: flex-end;
}

.loginButtonContainer {
  margin-top: 20px;
}

.joinContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
