:root {
    background-color: #fdfdfd;
}

body {
    margin: 0px;
    padding: 0px;
}

a:-webkit-any-link {
    text-decoration: none !important;
}

body::-webkit-scrollbar {
    display: none;
}

.HotUserSection::-webkit-scrollbar {
    display: none;
}