.button {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;    
    line-height: 1;
}

.button--large {
    font-size: 16px;
    padding: 12px 24px;
}

.button--middle {
    font-size: 14px;
    padding: 11px 20px;
}

.button--small {
    font-size: 12px;
    padding: 10px 16px;
}