.profileContainer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 12px;
}

.profileImage {
    cursor: pointer;
    border-radius: 50%;
}

.profileName {
    cursor: pointer;
}

.profile--header {
    width: 108px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 4px;
}

.profile--large {
    width: 108px;
    font-size: 16px;
    padding: 12px 24px;
}

.profile--small {
    width: 90px;
    font-size: 14px;
    padding: 11px 20px;
}