.nsrRegular {
    font-family: NanumSquareRound, sans-serif;
    font-weight: 400;
}

.nsrBold {
    font-family: NanumSquareRound, sans-serif;
    font-weight: 700;
}

.nsrExtraBold {
    font-family: NanumSquareRound, sans-serif;
    font-weight: 900;
}

.nsrLight {
    font-family: NanumSquareRound, sans-serif;
    font-weight: 300;
}